body {
  font-family: Arial;
  margin: 0;
}

#menuBtn {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.drawer {
  width: 250px;
  background: #333;
  color: white;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  padding-top: 60px;
  transition: 0.3s;
}

.drawer a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.drawer a:hover {
  background: #444;
}

.drawer.open {
  left: 0;
}
